
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

html{
  background-color: #000000;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
.center{
    margin-top: 200px;
    
}

/* MENUZINHO TOPZERA*/
.menu{
    background-color: #3869ff;
    width: 100%;
    position: fixed;
    height: 50px;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    text-align: center;
    z-index: 1;
    margin: 0 auto;
    }
    .banner{
        width: 100%;
        
    }
    .menu img{
        width: 30px;
        position: relative;
        top: 48%;
        transform: translateY(-50%);
        }
        h3{
    
        color: #ffff;
        font-family: Arial, sans-serif;
        bottom: 60px;
        font-size: 34px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        line-height: 1.0;
        font-weight: bold;
            
        }
        .container-video{
            bottom:10px;
            width: 90%;
            margin: 0 auto;
            display: grid;
           
            text-align: center;
            grid-gap: 15px;
            position: relative;
            
            }
            
            .container-video img{
            max-width: 100%;
            }
        p{
            color: #fff;
            font-family: Arial, sans-serif;
            font-weight: bold;
            position: relative;
            font-size: 20px;
            margin-left: 20px;
            bottom: 25px;
            
        }
        .logo{
            position: absolute;
            float: left;
            left: 0;
         width: 90px;
         border: 0;
         margin: 0 auto;
        top: 15px;
        padding-left: 18px;
        }
        .container-pdf{
            bottom:10px;
            width: 90%;
            margin: 0 auto;
            display: grid;
            height: 30%;
            grid-template-columns: 1fr;
            grid-gap: 15px;
            text-align: center;
            justify-content: center;
           text-justify: auto; 
          margin-top: -3%;
            }
        .container-pdf li{
            padding: 15px;
            display: inline-block;
        }
        
           .port:hover ul {display: block;} .mat:hover ul {display: block;} .hist:hover ul {display: block;} .geo:hover ul {display: block;} .bio:hover ul {display: block;} 
          ul li ul {
            position: absolute;
            display: none;
          }
         
      ul{
          text-align: left;
      }
        .port{
            background-color: #cc3333;
            height: 50px;  
           color: white;
          font-family: Arial, sans-serif;
          font-weight: bold;
          border-radius: 5px;
    
        }
        .mat{
            background-color: #9900cc;
            height: 50px;  
          color: white;
          font-family: Arial, sans-serif;
          font-weight: bold;
        border-radius: 5px;
        
        }
        .hist{
            background-color: #00cc99;
            height: 50px;    
          color: white;
          font-family: Arial, sans-serif;
          font-weight: bold;
        border-radius: 5px;
        }
        .geo{
            background-color: #ffff33;
            height: 50px;   
          color: white;
          font-family: Arial, sans-serif;
          font-weight: bold;
        border-radius: 5px;
        }
        .bio{
            background-color: #3399cc;
            height: 50px;    
          color: white;
          font-family: Arial, sans-serif;
          font-weight: bold;
        border-radius: 5px;
        }
        .soc{
            background-color: #cc7b33;
            height: 50px;    
          color: white;
          font-family: Arial, sans-serif;
          font-weight: bold;
        border-radius: 5px;
        }
        .fil{
            background-color: #336666;
            height: 50px;    
          color: white;
          font-family: Arial, sans-serif;
          font-weight: bold;
        border-radius: 5px;
        }
        .qui{
            background-color: #9f9f9f;
            height: 50px;    
          color: white;
          font-family: Arial, sans-serif;
          font-weight: bold;
        border-radius: 5px;
        }
        .fis{
            background-color: #660000;
            height: 50px;    
          color: white;
          font-family: Arial, sans-serif;
          font-weight: bold;
        border-radius: 5px;
        }
        .art{
            background-color: #ff9900;
            height: 50px;    
          color: white;
          font-family: Arial, sans-serif;
          font-weight: bold;
        border-radius: 5px;
        }
        .edu{
            background-color: #747e76;
            height: 50px;    
          color: white;
          font-family: Arial, sans-serif;
          font-weight: bold;
        border-radius: 5px;
        }
        .esp{
            background-color: #a9b977;
            height: 50px;    
          color: white;
          font-family: Arial, sans-serif;
          font-weight: bold;
        border-radius: 5px;
        }
        .ing{
            background-color: #b97777;
            height: 50px;    
          color: white;
          font-family: Arial, sans-serif;
          font-weight: bold;
        border-radius: 5px;
        }
        .red{
            background-color: #eaeaea;
            height: 50px;    
          color: black;
          font-family: Arial, sans-serif;
          font-weight: bold;
        border-radius: 5px;
        }
      
      
      
      

    .port:hover, .mat:hover, .hist:hover, .bio:hover, .geo:hover, .red:hover, .ingles:hover, .bio:hover,
    .soc:hover, .fil:hover, .qui:hover, .fis:hover, .art:hover, .edu:hover, .esp:hover{
        height: 130px;
       
    }
   
   
    .covid{
    width:100%;
    position: relative;
    margin-top: -10%;

    }
    .oquecai{
      color:#3869ff;
      padding-left: 20px;
      font-size: 20px;
      padding: 40px;
      margin-top: -40px;
      font-family: Arial, sans-serif;
      font-weight: bold;
      
    }